body {
	background-color: transparent;
}

.enable-gigo-afk-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.disable-gigo-afk-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.expiration-countdown-title {
	display: inline-flexbox;
}

#nextButton {
	float: right;
	margin-left: 40px;
	font-size: medium;
}

#previousButton {
    float: left;
	margin-right: 40px;
	font-size: smaller;
}

.enable-gigo-tutorial-next-button{
	border-radius: 4px;
	width: 100px;
	height: 25px;
	font-size: 11px;
	cursor: pointer;
}

.enable-gigo-tutorial-next-button:disabled,
.enable-gigo-tutorial-next-button[disabled]{
	border-radius: 4px;
	
	width: 100px;
	height: 25px;
	font-size: 11px;
	opacity: .4;
	cursor: not-allowed;
	outline: none;
	border: none;
	box-shadow: none;;
	
}



.enable-gigo-tutorial-previous-button{
	border-radius: 4px;
	width: 100px;
    height: 25px;
	font-size: 11px;
	cursor: pointer;
}
.enable-gigo-tutorial-previous-button:disabled,
.enable-gigo-tutorial-previous-button[disabled]{
	border-radius: 4px;
	
	width: 100px;
	height: 25px;
	font-size: 11px;
	opacity: .4;
	cursor: not-allowed;
	outline: none;
	border: none;
	box-shadow: none;;
	
}

#pageButton {
	align-self: center;
	float: center;
	outline: none; 
	padding: auto;
	background-color: transparent;
	border: none;
    
}

.divider{
    width:5px;
    height: 0px;
    display:inline-block;
}

.pageButtonContainer{
	display: flex;
	/* width: 100%; */
}


#pageButton{
	background-color: transparent; 
	background: transparent;
	width: 10px; 
	height: auto; 
	border: none; 
	text-decoration: underline; 
	display: flexbox;
	outline: none;
}

.pageButton{
	flex: 1;
	display: flex;
	justify-content: center;
	outline: none;
	background-color: transparent; 
	background: transparent;
	border-radius: 4px;
}